// Cell
$cellSize: 34px;
$cellBorder: 1px solid rgba(0, 0, 0, 0.23);
$boxBorder: 1px solid black;
$selectedColor: lightGrey;
$cursorBorder: 1px dashed darkBlue;

.sudokuCell {
  max-width: 34px;
  max-height: $cellSize;
  min-width: 34px;
  min-height: $cellSize;
  border: $cellBorder;
  border-radius: 0;
  background-color: white;
  color: navy;
}
.boxBoundaryTop {
  border-top: $boxBorder;
}
.boxBoundaryBottom {
  border-bottom: $boxBorder;
}
.boxBoundaryLeft {
  border-left: $boxBorder;
}
.boxBoundaryRight {
  border-right: $boxBorder;
}
.selected {
  background-color: pink;
}
.cursor {
  border: $cursorBorder;
}

// Grid
$gridWidth: ($cellSize * 9);

.grid {
  border: $boxBorder;
  width: $gridWidth;
}
