.game {
  display: flex;
  flex-direction: row;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.box-border-top {
  border-top-width: thick;
}

.box-border-left {
  border-left-width: thick;
}

.box-border-bottom {
  border-bottom-width: thick;
}

.box-border-right {
  border-right-width: thick;
}

.cell:focus {
  outline: none;
}
